.DS_Store
Thumbs.db
/fsh-generated
/flc-generated
/input-cache
/output
/temp
/template
_updatePublisher.sh
_updatePublisher.bat
_genonce.sh
_genonce.bat
_gencontinuous.bat
_gencontinuous.sh
_build.bat
_build.sh  
publisher.jar
/input/flc/templates/metadata.json
.vscode/settings.json
